In [2]:
#set
#set can be declared using set() or {}

#Declaring a set using set()

s1=set([12, 34, 56, 'NIELIT', 45.67])
print(s1)
print(type(s1))

{34, 12, 45.67, 56, 'NIELIT'}
<class 'set'>

In [4]:
#Declaring a set using {}
s2={10, 25, 35, 'Lucknow', 45.67, 76.98}
print(s2)
print(type(s2))

{35, 10, 76.98, 45.67, 'Lucknow', 25}
<class 'set'>

In [5]:
#We can access the individual elements from the set as it does not supports 
#indexing
s2[0]

TypeError: 'set' object is not subscriptable

In [6]:
#We can access the individual element using for loop one by one
for j in s2:
    print("Element of s2:", j)

Element of s2: 35
Element of s2: 10
Element of s2: 76.98
Element of s2: 45.67
Element of s2: Lucknow
Element of s2: 25

In [7]:
#You can not change the existing data of a set
#But, you can add new data in a set
print(s2)
#add(): used to add a new data in a set

#Adding a new data

s2.add(1000)
print(s2)

{35, 10, 76.98, 45.67, 'Lucknow', 25}
{35, 1000, 10, 76.98, 45.67, 'Lucknow', 25}

In [8]:
#update(): you can also a new data using update

s2.update(['Machine Learning', 'Python'])
print(s2)

{35, 1000, 10, 76.98, 45.67, 'Lucknow', 'Machine Learning', 25, 'Python'}

In [9]:
#removing the data from a set 
#remove(): used to remove the data from a set

#To remove 'Lucknow' from set s2

s2.remove('Lucknow')
s2

{10, 1000, 25, 35, 45.67, 76.98, 'Machine Learning', 'Python'}

In [11]:
#We can not remove more than one item using remove()
s2.remove(10, 25)
s2

TypeError: remove() takes exactly one argument (2 given)

In [12]:
#If the item to remove does not exist, remove() will raise an error
s2.remove('NIELIT')
s2

KeyError: 'NIELIT'

In [13]:
#discard(): used to remove a data from a set
print(s2)
s2.discard(25)
print(s2)

{35, 1000, 10, 76.98, 45.67, 'Machine Learning', 25, 'Python'}
{35, 1000, 10, 76.98, 45.67, 'Machine Learning', 'Python'}

In [14]:
#If the item to remove is not available, discard() will NOT raise an error
s2.discard('NIELIT')
s2

{10, 1000, 35, 45.67, 76.98, 'Machine Learning', 'Python'}

In [15]:
#we can not remove more than one item using discard()
s2.discard(10,35)

TypeError: discard() takes exactly one argument (2 given)

In [16]:
#union of two sets
#the union operation of two sets produces a new set containing all the unique
#elements from both the sets

A={'Mon', 'Tue', 'Wed'}
B={'Wed', 'Thu', 'Fri', 'Sat'}

union=A|B
print(union)

{'Tue', 'Wed', 'Fri', 'Thu', 'Mon', 'Sat'}

In [17]:
#Intersection of two sets
#It produces a new set containing only the common elements from both the sets

inter=A&B
inter

{'Wed'}

In [18]:
#differences of two sets
#it produces a new set containing only the elements from the first set and none
#from the second set

diff=A-B
diff

{'Mon', 'Tue'}

In [20]:
#Functions in Python
#A function can be declared using def keyword

#Function declaration
#Syntax: def function_name(parameters):
                    #definition
                    #definition
        

#Non-parameterized function

def hello():
    print('First function in python')
    print('This is function definition')

#calling hello()
hello()

First function in python
This is function definition

In [21]:
hello()

First function in python
This is function definition

In [22]:
#Define a function to calculate area of circle
#Parameterized function without return statement
#r is formal parameter
#5 is actual parameter

def area_circle(r):
    a=3.14*r*r
    print('Area of circle:', a)
    
area_circle(5)

Area of circle: 78.5

In [23]:
#calling area_circle()
radius=7
area_circle(radius)

Area of circle: 153.86

In [26]:
t=int(input('Enter radius:'))
area_circle(t)

Enter radius:9
Area of circle: 254.34

In [27]:
#Function declaration using return statement

def area_circle(r):
    a=3.14*r*r
    return a

In [29]:
#calling a function with return statement
area=area_circle(5)
print('Area of circle:', area)
print('square of Area of circle:', area*area)

Area of circle: 78.5
square of Area of circle: 6162.25

In [30]:
n=int(input('Enter radius:'))
a1=area_circle(n)
print('Area:', a1)

Enter radius:7
Area: 153.86

In [31]:
r1=area_circle()

TypeError: area_circle() missing 1 required positional argument: 'r'

In [32]:
r1=area_circle(12,34)

TypeError: area_circle() takes 1 positional argument but 2 were given

In [38]:
#Required arguments/parameters

def si(p, r, t):
    print('P:',p)
    print('R:',r)
    print('T:',t)
    simple=(p*r*t)/100
    return simple

inst=si(12000, 8.5, 24)
#p=12000, r=8.5, t=24
print('simple interest:', inst)

print('-------------------------------------------------')

inst=si(8.5, 24, 12000)
print(inst)

P: 12000
R: 8.5
T: 24
simple interest: 24480.0
-------------------------------------------------
P: 8.5
R: 24
T: 12000
24480.0

In [39]:
#Keyword Parameter
i1=si(p=15000, r=7.5, t=2)
i1

P: 15000
R: 7.5
T: 2

2250.0

In [40]:
#shufelling the location of arguments
i1=si(r=7.5, t=2, p=15000)
i1

P: 15000
R: 7.5
T: 2

2250.0

In [44]:
#You can mix the required and keyword argument in a function call

i1=si(12000, t=3, r=8.1)  #valid
i1

P: 12000
R: 8.1
T: 3

2916.0

In [41]:
#Required arguments must be given before keyword argument

i1=si(r=7.5, t=2, 15000)   #invalid

SyntaxError: positional argument follows keyword argument (<ipython-input-41-b79b61acb6da>, line 1)

In [47]:
#Default argument

def si(p, t, r=7.5):
    print('P:',p)
    print('R:',r)
    print('T:',t)
    simple=(p*r*t)/100
    return simple

i3=si(13000, 5)
i3

P: 13000
R: 7.5
T: 5

4875.0

In [48]:
i3=si(13000, 5, 9.8)
i3

P: 13000
R: 9.8
T: 5

6370.000000000001

In [49]:
def data(name, age=18):
    print('Name:', name)
    print('Age:', age)
    
data('Rajat')

Name: Rajat
Age: 18

In [50]:
data('Sachin', 34)

Name: Sachin
Age: 34