In [3]:
#for loop statement
#iterating the list, tuple or dictionary, set or string using for loop

#for var_name in sequence_name:

list1=[10, 20, 30 ,40 ,50, 60]
print(list1)
print('Sum of list:',sum(list1))

[10, 20, 30, 40, 50, 60]
Sum of list: 210

In [4]:
#access the element of list1 one by one using for loop
for a in list1:
    print('Element of List1:', a)

Element of List1: 10
Element of List1: 20
Element of List1: 30
Element of List1: 40
Element of List1: 50
Element of List1: 60

In [5]:
#Adding the elements of list1 without using sum()
print(list1)
total=0
for i in list1:
    total=total+i

print('Sum of list1 without using sum()=', total)

[10, 20, 30, 40, 50, 60]
Sum of list1 without using sum()= 210

In [7]:
#Accessing string data one by one, using for loop
c='NIELIT'
print(c)

for i in c:
    print(i)

NIELIT
N
I
E
L
I
T

In [10]:
list1.reverse()
list1

[60, 50, 40, 30, 20, 10]

In [11]:
for i in list1:
    print(i)

60
50
40
30
20
10

In [12]:
#range(): it is used to generate the sequence of data within given range
#syntax:  range([start], stop, [step])
#here, [start] and [stop] are optional parameter

#start speficies the start number of the range. Optional and defalut is 0

#stop speficies the stop number of the range. stop always goes up to stop-1.
#stop is required in range().

#step can be postive or negative. Optional and default is 1.

In [15]:
#printing 'NIELIT' 5  times using for loop

for x in range(5):
    print('Value of i:', x)
    print('NIELIT')

#here, start number will be 0
#stop=5-1=4
#step=1 (Default)

Value of i: 0
NIELIT
Value of i: 1
NIELIT
Value of i: 2
NIELIT
Value of i: 3
NIELIT
Value of i: 4
NIELIT

In [16]:
#Now, start=1 and stop=5, step=1
for i in range(1,5):
    print(i)

1
2
3
4

In [17]:
#Now, start=1 and stop=11, step=2
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [18]:
#Now, start=2 and stop=21, step=2
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [19]:
#Now, start=5 and stop=0, step=-1
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [20]:
#Now, start=20 and stop=0, step=-2
for i in range(20, 0, -2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [23]:
#printing table of number using for loop
num=int(input('Enter any number:'))
for i in range(1,11):
    print(num*i)

Enter any number:35
35
70
105
140
175
210
245
280
315
350

In [24]:
#printing table of number using for loop
num=int(input('Enter any number:'))
for i in range(1,11):
    print(num, '*', i, '=', num*i)

Enter any number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [26]:
#nested for loop: declaring the for loop inside anther for loop

m=int(input('Enter number of rows for pattern:'))
i,j=0,0

for i in range(0,m): #outer for loop
    print('')
    for j in range(0, i+1): #inner for loop
        print("*", end="")

Enter number of rows for pattern:5

*
**
***
****
*****

In [28]:
print('hello')
print('NIELIT')

hello
NIELIT

In [29]:
#By default, the print() will insert  a new line after if finishes its execution
#we can use end parameter in print() to modify the end of the print()
print('hello', end='&')
print('NIELIT')

hello&NIELIT

In [30]:
print('hello', end=' ')
print('NIELIT')

hello NIELIT

In [31]:
#Loop control statement in python
#break and continue

#break

for i in range(0,5):
    print(i)
    
print('Outside for loop')

0
1
2
3
4
Outside for loop

In [32]:
#unconditional break
for i in range(0,5):
    print(i)
    break
    
print('Outside for loop')

0
Outside for loop

In [33]:
#conditional break
for i in range(0,5):
    print(i)
    if(i==3):
        break
    
print('Outside for loop')

0
1
2
3
Outside for loop

In [34]:
#continue:

for i in range(0,5):
    print(i)
    print('Inside for loop')
    
print('Outside for loop')

0
Inside for loop
1
Inside for loop
2
Inside for loop
3
Inside for loop
4
Inside for loop
Outside for loop

In [35]:
#unconditional continue

for i in range(0,5):
    print(i)
    continue
    print('Inside for loop')
    
print('Outside for loop')

0
1
2
3
4
Outside for loop

In [36]:
#conditional for loop
for i in range(0,5):
    print(i)
    if(i==2):
        continue
    print('Inside for loop')
    
print('Outside for loop')

0
Inside for loop
1
Inside for loop
2
3
Inside for loop
4
Inside for loop
Outside for loop

In [37]:
#program for printing only the even numbers of a list

data=[12,33,34,43,45,54,56,65]

for i in data:
    if(i%2==0):
        print(i)
    else:
        continue

12
34
54
56

In [38]:
#Python tuple
#tuples are similar to list
#tuples are immutable i.e. we can not change/update/modify a tuple

tup=(1, 'NIELIT', 45.78)
print(tup)
print(type(tup))

(1, 'NIELIT', 45.78)
<class 'tuple'>

In [39]:
print('First element of tup:', tup[0])
print('Last element of tup:', tup[-1])

First element of tup: 1
Last element of tup: 45.78

In [40]:
print(tup[1:3])

('NIELIT', 45.78)

In [43]:
#we cannot modily/update tuple data
tup[0]=5000
tup[3]='Nagendra'

TypeError: 'tuple' object does not support item assignment

In [42]:
for a in tup:
    print(a)

1
NIELIT
45.78

In [51]:
t1=(12,34,45,56,67)
print('Length of the tuple:', len(t1))
print('Sum of the tuple:', sum(t1))
print('Minimum of the tuple:', min(t1))
print('Maximum of the tuple:', max(t1))
print('count of 34:', t1.count(34))

Length of the tuple: 5
Sum of the tuple: 214
Minimum of the tuple: 12
Maximum of the tuple: 67
count of 34: 1

In [52]:
#deletion in tuple
#you can delete single data from a tuple
del t1[1]

TypeError: 'tuple' object doesn't support item deletion

In [53]:
#but, we can delete a tuple completely using del
del t1
t1

NameError: name 't1' is not defined

In [55]:
#tuple(): used to create a new tuple
t=tuple((12, 'we', 'lucknow', 45.56))
print(t)
print(type(t))

(12, 'we', 'lucknow', 45.56)
<class 'tuple'>

In [56]:
#tuple(): also used to convert list into tuple

l1=[12, 34, 45,6, 56, 67]
print(l1)
print(type(l1))

#transforming l1 as tuple
t1=tuple(l1)
print(t1)
print(type(t1))

[12, 34, 45, 6, 56, 67]
<class 'list'>
(12, 34, 45, 6, 56, 67)
<class 'tuple'>

In [58]:
#nesting tuple with list

tup_li=[(1, 'Ramesh'), (2, 'Sachin'), (3, 'Rajesh')]
for i in tup_li:
    print(i)
    
tup_li[1]=(102, 'Rajat')
tup_li

(1, 'Ramesh')
(2, 'Sachin')
(3, 'Rajesh')

[(1, 'Ramesh'), (102, 'Rajat'), (3, 'Rajesh')]

In [60]:
#nesting list with tuple

li_tup=([1, 'Ramesh'], [2, 'Sachin'], [3, 'Rajesh'])
for i in li_tup:
    print(i)
    
li_tup[1]=[102, 'Rajat']

[1, 'Ramesh']
[2, 'Sachin']
[3, 'Rajesh']

TypeError: 'tuple' object does not support item assignment