In [1]:
#Loading the saved model

import pickle

#opening the saved model in read mode

m, d=pickle.load(open('e:\\Logistic_reg.model', 'rb'))

#Here, m will store the saved model/algo
#d will store the stored data on the model
#m=LR, d=X

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):

In [2]:
#Deploying the Loan Prediction Problem using saved model

#Implementing the model on new data

gender=input("What is your gender (Male or Female):")
married=input("Married (Enter Yes or No):")
dependents=input("dependents value (Enter 0 or 1 or 2 or 3+):")
Education=input("enter your education (Enter Graduate or Not Graduate)")
SelfEmployed=input("Self Employed (Enter Yes or No):")
Applicantincome=int(input("enter applicant income (Enter between 150 to 81000)"))
coapplicantincome=int(input("enter co applicant income(Enter ):"))
loanamount=int(input("enter loan amount:"))
loanamountterm=int(input("enter loan amount term:"))
credithistory=int(input("enter credit history:"))
propertyarea=input("enter property area:")

data = [[gender,married,dependents,Education,SelfEmployed,Applicantincome,coapplicantincome,loanamount,loanamountterm,credithistory,propertyarea]]

What is your gender (Male or Female):Male
Married (Enter Yes or No):Yes
dependents value (Enter 0 or 1 or 2 or 3+):1
enter your education (Enter Graduate or Not Graduate)Graduate
Self Employed (Enter Yes or No):Yes
enter applicant income (Enter between 150 to 81000)250
enter co applicant income(Enter ):150
enter loan amount:1200
enter loan amount term:120
enter credit history:1
enter property area:Urban

In [5]:
import pandas as pd
newdf = pd.DataFrame(data, columns = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])
newdf

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,1,Graduate,Yes,250,150,1200,120,1,Urban

In [6]:
#doing one-hot encoding on categorical data
newdf=pd.get_dummies(newdf)
newdf

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Education_Graduate,Self_Employed_Yes,Property_Area_Urban
0,250,150,1200,120,1,1,1,1,1,1,1

In [7]:
#Now identifying those columns which are available in training data i.e. 'd' but not in new data i.e. 'newdf'
#Basically, identifying the missing columns in newdf

missing_cols=set(d.columns)-set(newdf.columns)
print('Missing columns in newdf')
missing_cols

Missing columns in newdf

{'Dependents_0',
 'Dependents_2',
 'Dependents_3+',
 'Education_Not Graduate',
 'Gender_Female',
 'Married_No',
 'Property_Area_Rural',
 'Property_Area_Semiurban',
 'Self_Employed_No'}

In [9]:
#Filling missing columns with 0 and adding them into newdf

for cols in missing_cols:
    newdf[cols]=0
newdf

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Education_Graduate,Self_Employed_Yes,Property_Area_Urban,Dependents_2,Education_Not Graduate,Dependents_0,Self_Employed_No,Property_Area_Semiurban,Property_Area_Rural,Married_No,Dependents_3+,Gender_Female
0,250,150,1200,120,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0

In [11]:
d[0:1]

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,146.412162,360.0,1.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

In [13]:
print('columns in training data:', len(d.columns))
print('columns in new data:', len(newdf.columns))

columns in training data: 20
columns in new data: 20

In [14]:
#the order of columns in new data i.e. 'newdf' should match with traning data i.e. 'd'
newdf=newdf[d.columns]
newdf

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,250,150,1200,120,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,1

In [15]:
#Now predicting the value of Loan_Status on newdata using LogisticRegression model

pr=m.predict(newdf)
pr

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\base.py:291: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  indices = (scores > 0).astype(np.int)

array(['Y'], dtype=object)

In [16]:
if(pr[0]=='Y'):
    print('Congrats! Your loan may be approved. Please contact branch')
else:
    print('Sorry!Your Loan is not approved')

Congrats! Your loan may be approved. Please contact branch