In [1]:
#Machine Learning Regression Problem
#Project: Admission Prediction


import pandas as pd

In [2]:
#reading Admission_predict.csv file
df=pd.read_csv('E:\\Admission_Predict.csv')

#to view first five records of this file
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45

In [4]:
#to view description of data
#By default, describe() will gives description of numerical data only
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [5]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
#dropping 'Serial No.' column as it is not required for processing

df.drop(['Serial No.'], axis=1, inplace=True)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
#Removing the space from the column name 'Chance of Admit'
df.rename(columns={'Chance of Admit ':'Chance of Admit'}, inplace=True)
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [9]:
#Preparing correlation matrix on df
df.corr()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.835977,0.668976,0.612831,0.557555,0.833060,0.580391,0.802610
TOEFL Score,0.835977,1.000000,0.695590,0.657981,0.567721,0.828417,0.489858,0.791594
University Rating,0.668976,0.695590,1.000000,0.734523,0.660123,0.746479,0.447783,0.711250
SOP,0.612831,0.657981,0.734523,1.000000,0.729593,0.718144,0.444029,0.675732
LOR,0.557555,0.567721,0.660123,0.729593,1.000000,0.670211,0.396859,0.669889
CGPA,0.833060,0.828417,0.746479,0.718144,0.670211,1.000000,0.521654,0.873289
Research,0.580391,0.489858,0.447783,0.444029,0.396859,0.521654,1.000000,0.553202
Chance of Admit,0.802610,0.791594,0.711250,0.675732,0.669889,0.873289,0.553202,1.000000

In [10]:
#Basic use of correlation matrix in this problem is to identify the features/columns 
#upon which outcome i.e. 'Chance of Admit' is highly depends

#From above correlation matrix, after analyzing the correlation of 'Chance of Admit' with other features
#We can identify top 5 features upon which 'Chance of Admit' is highly depends

#'Chance of Admit' highly depends on ['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP']

In [8]:
#Preparing independent variable X
X=df.drop(['Chance of Admit'], axis=1)
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [11]:
#Praparing dependent/outcome variable y

y=df['Chance of Admit']
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

In [12]:
#Checking missing values in X

X.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64

In [13]:
#Scaling the numerical column into 0 and 1 using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

#Creating the object of MinMaxScaler to scale the values between 0 and 1

mxscale=MinMaxScaler(feature_range=(0,1))

#Applying the MinMaxScaler to all columns of X
X[X.columns]=mxscale.fit_transform(X[X.columns])


#X['GRE Score']=mxscale.fit_transform(X['GRE Score'])

#X[['GRE Score', 'SOP']]=mxscale.fit_transform(X[['GRE Score', 'SOP']])

In [14]:
X.head()

   GRE Score  TOEFL Score  University Rating    SOP   LOR       CGPA  Research
0       0.94     0.928571               0.75  0.875  0.875  0.913462       1.0
1       0.68     0.535714               0.75  0.750  0.875  0.663462       1.0
2       0.52     0.428571               0.50  0.500  0.625  0.384615       1.0
3       0.64     0.642857               0.50  0.625  0.375  0.599359       1.0
4       0.48     0.392857               0.25  0.250  0.500  0.451923       0.0

In [15]:
#splitting the data into training set and testing set

from sklearn.model_selection import train_test_split

#here, the size of train data will be 80% of total data 
#and, the size of test data will be 20% of total data

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.20)

#Total data=400

#X_train=80% data of X = 320 row
#X_test= 20% data of X = 80 row

#y_train=80% data of y = 320 row
#y_test= 20% data of y = 80 row

In [16]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(320, 7)
(80, 7)
(320,)
(80,)

In [17]:
#Applying machine learning algorithm on X_train and y_train

#We are using LinearRegression algorithm to solve this regression problem

from sklearn.linear_model import LinearRegression

#Creating object of LinearRegression algorithm
lr=LinearRegression()

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):

In [18]:
#After analyzing the correlation matrix, we have found that
#'Chance of Admit' is highly depends on ['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP']

#Now fitting the LinearRegression with these features only
lr.fit(X_train[['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP']], y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
#to view the scrore of the LinearRegression Algorithm

print('Score of LinearRegression:', lr.score(X_test[['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP']], y_test))

#the score is ~0.73

#It means that the linearregression algorithm predicts the value of y_test on behalf of the X_test
#With 73% of accuracy

Score of LinearRegression: 0.7316407149728934

In [23]:
X_train.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research'],
      dtype='object')

In [27]:
#Since score is not very satisfactory
#So now include other features for training the model
#Now, we are including 'LOR' feature 

lr1=LinearRegression()
lr1.fit(X_train[['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ']], y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
print('Score of LinearRegression:', lr1.score(X_test[['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ']], y_test))

Score of LinearRegression: 0.715412228375017

In [29]:
#Now, we are including 'Research' feature 


lr1.fit(X_train[['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'Research']], y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
lr1.score(X_test[['CGPA', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'Research']], y_test)

0.710138180987872

In [33]:
lr2=LinearRegression()
lr2.fit(X_train, y_train)
lr2.score(X_test, y_test)

0.7101381809878717

In [35]:
#We can identify the key features of LinearRegression/LogisticRegression algo by using coef_ property
lr2.coef_

array([ 0.09462321,  0.09497816,  0.02148196, -0.03731424,  0.10986038,
        0.35794543,  0.02968244])

In [38]:
feat=lr2.coef_

important=pd.DataFrame({'Feature Value':feat}, index=X_train.columns).sort_values(by='Feature Value', ascending=False)
important

                   Feature Value
CGPA                    0.357945
LOR                     0.109860
TOEFL Score             0.094978
GRE Score               0.094623
Research                0.029682
University Rating       0.021482
SOP                    -0.037314