In [1]:
#Machine Learning Regression Problem
#Project: Admission Prediction


import pandas as pd

In [2]:
#reading Admission_predict.csv file
df=pd.read_csv('E:\\Admission_Predict.csv')

#to view first five records of this file
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45

In [4]:
#to view description of data
#By default, describe() will gives description of numerical data only
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [5]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
#dropping 'Serial No.' column as it is not required for processing

df.drop(['Serial No.'], axis=1, inplace=True)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
#Removing the space from the column name 'Chance of Admit'
df.rename(columns={'Chance of Admit ':'Chance of Admit'}, inplace=True)
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [8]:
#Preparing independent variable X
X=df.drop(['Chance of Admit'], axis=1)
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [9]:
#Praparing dependent/outcome variable y

y=df['Chance of Admit']
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

In [10]:
#Checking missing values in X

X.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64

In [11]:
#Scaling the numerical column into 0 and 1 using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

#Creating the object of MinMaxScaler to scale the values between 0 and 1

mxscale=MinMaxScaler(feature_range=(0,1))

#Applying the MinMaxScaler to all columns of X
X[X.columns]=mxscale.fit_transform(X[X.columns])


#X['GRE Score']=mxscale.fit_transform(X['GRE Score'])

#X[['GRE Score', 'SOP']]=mxscale.fit_transform(X[['GRE Score', 'SOP']])

In [12]:
X.head()

   GRE Score  TOEFL Score  University Rating    SOP   LOR       CGPA  Research
0       0.94     0.928571               0.75  0.875  0.875  0.913462       1.0
1       0.68     0.535714               0.75  0.750  0.875  0.663462       1.0
2       0.52     0.428571               0.50  0.500  0.625  0.384615       1.0
3       0.64     0.642857               0.50  0.625  0.375  0.599359       1.0
4       0.48     0.392857               0.25  0.250  0.500  0.451923       0.0

In [13]:
#splitting the data into training set and testing set

from sklearn.model_selection import train_test_split

#here, the size of train data will be 80% of total data 
#and, the size of test data will be 20% of total data

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.20)

#Total data=400

#X_train=80% data of X = 320 row
#X_test= 20% data of X = 80 row

#y_train=80% data of y = 320 row
#y_test= 20% data of y = 80 row

In [14]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(320, 7)
(80, 7)
(320,)
(80,)

In [15]:
#Applying machine learning algorithm on X_train and y_train

#We are using LinearRegression algorithm to solve this regression problem

from sklearn.linear_model import LinearRegression

#Creating object of LinearRegression algorithm
lr=LinearRegression()

#fitting X_train and y_train in LinearRegression algorithm using fit()

lr.fit(X_train, y_train)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
#to view the scrore of the LinearRegression Algorithm

print('Score of LinearRegression:', lr.score(X_test, y_test))

#the score is ~0.84 i.e. 84%

#It means that the linearregression algorithm predicts the value of y_test on behalf of the X_test
#With 84% of accuracy

Score of LinearRegression: 0.7936356775012335

In [17]:
X_test[0:5]

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
323,0.30,0.357143,0.25,0.250,0.375,0.442308,0.0
93,0.22,0.178571,0.25,0.500,0.500,0.346154,1.0
124,0.22,0.500000,0.75,0.375,0.500,0.535256,0.0
148,0.98,0.857143,0.75,0.750,0.625,0.961538,1.0
126,0.66,0.750000,0.50,0.750,0.500,0.807692,1.0

In [18]:
#To view the prediction of linear regression on X_test

lr_pred=lr.predict(X_test)
lr_pred[0:5]

array([0.60362406, 0.58682165, 0.67001723, 0.94415945, 0.84030607])

In [19]:
y_test[0:5]

323    0.62
93     0.44
124    0.57
148    0.96
126    0.85
Name: Chance of Admit, dtype: float64

In [20]:
#Now, comparing the values of actual 'Chance of Admit' with predicted values of 'Chance of Admit'

df_predict=pd.DataFrame({'Actual Data':y_test, 'Predicted Data':lr_pred})
df_predict.head()

     Actual Data  Predicted Data
323         0.62        0.603624
93          0.44        0.586822
124         0.57        0.670017
148         0.96        0.944159
126         0.85        0.840306

In [21]:
#transferring the data from dataframe to csv

#to_csv(): used to save the contents of a DataFrame as a csv file
#Syntax: dataframe_name.to_csv('file_name.csv')

df_predict.to_csv('E:\\predicted_data.csv')

In [22]:
#Applying RandomForestRegressor algorithm/model

from sklearn.ensemble import RandomForestRegressor

rfr=RandomForestRegressor()

rfr.fit(X_train, y_train)
rfr.score(X_test, y_test)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\decomposition\online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:32: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:32: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\ensemble\base.py:158: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int)

0.7092176575760889

In [23]:
#Applying Decision Tree Classifier
from sklearn.tree import DecisionTreeRegressor

dtr=DecisionTreeRegressor()

dtr.fit(X_train, y_train)
dtr.score(X_test, y_test)

0.637784181224901

In [24]:
print('Score of Linear Regression:', lr.score(X_test, y_test))
print('Score of Random Forest Regressor:', rfr.score(X_test, y_test))
print('Score of Decison Tree Regressor:', dtr.score(X_test, y_test))

Score of Linear Regression: 0.7936356775012335
Score of Random Forest Regressor: 0.7092176575760889
Score of Decison Tree Regressor: 0.637784181224901

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\ensemble\base.py:158: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int)

In [25]:
#Since, the Linear Regression has highest score
#So, on the basis of score, we can select Linear Regression algorithm for this problem/data for
#furthur processing

In [30]:
#Mathematics behind Regression Model

#Suppose, there is only two columns in a dataset i.e 'GRE Score' and 'Chance of Admit'
#'Chance of Admit' is dependends upon the value of 'GRE Score'
newdata=df[['GRE Score', 'Chance of Admit']]

newdata.head()
type(newdata)

   GRE Score  Chance of Admit
0        337             0.92
1        324             0.76
2        316             0.72
3        322             0.80
4        314             0.65

In [31]:
type(newdata)

pandas.core.frame.DataFrame

In [33]:
#Prepare new X and y

X1=newdata['GRE Score']
X1.head()

0    337
1    324
2    316
3    322
4    314
Name: GRE Score, dtype: int64

In [34]:
type(X1)

pandas.core.series.Series

In [36]:
#If you work on only one column, then it is treated as a Pandas Series
#ML algorithm takes feature (X) as dataframe and outcome (y) as series
#To apply the ML algorithms on X1, we have to tranform the X1 as DataFrame

X1=pd.DataFrame(newdata['GRE Score'], columns=['GRE Score'])
X1.head()

   GRE Score
0        337
1        324
2        316
3        322
4        314

In [37]:
#Prepare y1
y1=newdata['Chance of Admit']
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

In [38]:
#NOw X1 and y1 is ready.

#Spliting the X1 and y1

X1_train, X1_test, y1_train, y1_test=train_test_split(X1, y1, test_size=0.75)

In [39]:
#Applying the LinearRegression algorithm
lr1=LinearRegression()

lr1.fit(X1_train, y1_train)
lr1.score(X1_test, y1_test)

0.639425146447179

In [ ]:
"""
y=mx+c

where m=slope, c=intercept

if you know the value of m(slope) and c(intercept), then you can know the value of y for any specific x

Ex: m=0.5 , c=1.5

Q. if x=3, y=?

y=mx+c
y=0.5*3+1.5
y=1.5+1.5
y=3

This can be written in ML as

y=beta1*x+alpha

beta1=coefficient
alpha=intercept

Q. How do you calculate the value of y, if you know only the value x?

Ans: If i know the value of coefficient and intercept, then i can calculate the value of y for any x.

If beta1=0.5 and alpha=0.6


Ex: calculate y when x=2

y=0.5*2+0.6
y=1.6

Ex: calculate y when x=4

y=0.5*4+0.6
y=2.0+0.6
y=2.6

ML Regression Algo/Model will try to find the optimal values of coefficient and intercept to maintain
minimum error of the basis of training data

basically, LinearRegression algorithm will try to find out the optimal values of coefficient and intercept, so than the error is minimum.



"""

In [ ]:
#For this problem, X1=GRE Score, y1=Chance of Admit

#y1=beta1*X1+alpha
#Chance of Admit=beta1*GRE Score+intercept

#If we know the values of beta1 and alpha, then we can obtain the value of Chance of Admit for any GRE Score

#During fit() operation, LinearRegression tries to find out the optimal values of coefficient and intercept

#coeffient is calculated for each feature provided in training data

#intercept is calcuted only once

In [47]:
#We can access the values of coefficient and intercept for LinearRegression algo/model for given training data

print('Coefficeint of GRE Score:', lr1.coef_)
print('Value of Intercept:', lr1.intercept_)

Coefficeint of GRE Score: [0.01026405]
Value of Intercept: -2.531112603416784

In [44]:
pr2=lr1.predict(X1_test)
result=pd.DataFrame({'GRE Score':X1_test['GRE Score'], 'Actual Output':y1_test, 'Predicted Outcome':pr2})
result.head()

     GRE Score  Actual Output  Predicted Outcome
84         340           0.94           0.958664
12         328           0.78           0.835495
113        320           0.72           0.753383
34         331           0.94           0.866287
246        316           0.72           0.712327

In [48]:
#Coefficeint of GRE Score: [0.01026405]
#Value of Intercept: -2.531112603416784

#Predicting the value of 'Chance of Admit' without using predict()

#Ex: predicting/calculating the value of 'Chance of Admit' when 'GRE Score'=340

pr1=0.01026405*340+(-2.531112603416784)
pr1

0.9586643965832162

In [49]:
#Ex: predicting/calculating the value of 'Chance of Admit' when 'GRE Score'=328

pr1=0.01026405*328+(-2.531112603416784)
pr1

0.8354957965832162

In [50]:
#Ex: predicting/calculating the value of 'Chance of Admit' when 'GRE Score'=320

pr1=0.01026405*320+(-2.531112603416784)
pr1

0.753383396583216

In [51]:
#Ex: predicting/calculating the value of 'Chance of Admit' when 'GRE Score'=345

pr1=0.01026405*345+(-2.531112603416784)
pr1

1.009984646583216

In [54]:
#Now applying the LinearRegression on complete data
#X_train having all the features from the dataset

lr2=LinearRegression()

lr2.fit(X_train, y_train)
lr2.score(X_test, y_test)

0.7936356775012335

In [65]:
X_test.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
323,0.30,0.357143,0.25,0.250,0.375,0.442308,0.0
93,0.22,0.178571,0.25,0.500,0.500,0.346154,1.0
124,0.22,0.500000,0.75,0.375,0.500,0.535256,0.0
148,0.98,0.857143,0.75,0.750,0.625,0.961538,1.0
126,0.66,0.750000,0.50,0.750,0.500,0.807692,1.0

In [57]:
#In lr2, we have passed all the feature/columns of the training dataset,
#Thats why, lr2 will produce coefficient for each feature/column of X_train

print('Coefficient for X_train:', lr2.coef_)
print('Intercept:', lr2.intercept_)

Coefficient for X_train: [ 0.06352789  0.07986133  0.03188898 -0.001196    0.07670147  0.37315169
  0.02913207]
Intercept: 0.35455962777757444

In [58]:
#Using these coefficient and intercept, we can easily find the value of 'Chance of Admit' for any existing data or new data

In [59]:
pr_lr2=lr2.predict(X_test)
df_lr2=pd.DataFrame({'Actual Data':y_test, 'Predicted Data':pr_lr2})
df_lr2.head()

     Actual Data  Predicted Data
323         0.62        0.603624
93          0.44        0.586822
124         0.57        0.670017
148         0.96        0.944159
126         0.85        0.840306

In [70]:
X_train.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research'],
      dtype='object')

In [74]:
cef=lr2.coef_
print('Value of Coefficient for GRE Score:', cef[0])
print('Value of Coefficient for TOEFL Score:', cef[1])
print('Value of Coefficient for University Rating:', cef[2])
print('Value of Coefficient for SOP:', cef[3])
print('Value of Coefficient for LOR:', cef[4])
print('Value of Coefficient for CGPA:', cef[5])
print('Value of Coefficient for Research:', cef[6])
print('Value of Intercept:', lr2.intercept_)

Value of Coefficient for GRE Score: 0.06352789164752042
Value of Coefficient for TOEFL Score: 0.07986132697075213
Value of Coefficient for University Rating: 0.031888983484466144
Value of Coefficient for SOP: -0.0011960012783823102
Value of Coefficient for LOR: 0.07670147018511667
Value of Coefficient for CGPA: 0.37315168538895904
Value of Coefficient for Research: 0.029132065445014194
Value of Intercept: 0.35455962777757444

In [76]:
#Coefficient for X_train: [ 0.06352789  0.07986133  0.03188898 -0.001196    0.07670147  0.37315169
 # 0.02913207]
#Intercept: 0.35455962777757444

#Now predicting the 'Chance of Admit' for first row of X_test using values of coefficient and intercept
#0.30	0.357143	0.25	0.250	0.375	0.442308	0.0

pr1=((0.30*cef[0])+(0.357143*cef[1])+(0.25*cef[2])+(0.250*cef[3])+(0.375*cef[4])+(0.442308*cef[5])+(0.0*cef[6]))+0.35455962777757444
pr1

0.6036241817021053