In [2]:
#Defining class in python

class student:
    
    #defining class variable
    idd=101
    name='Rajesh'
    course='ML'
    
    def show_data(d):
        #here 'd' is class reference variable
        #each method in a class must include this parameter
        #method may have different other parameter as per need
        #This parameter is used to access the variable of the class
        
        print('Id:', d.idd)
        print('Name:', d.name)
        print('Course:', d.course)

#Object of the class is used to access the members of the class

#Syntax: object_name=class_name()
s1=student()

#calling show_data() of student class using its object s1
s1.show_data()

#Public variables of a class can be accessed through its object
print('Accessing Id using object:', s1.idd)

Id: 101
Name: Rajesh
Course: ML
Accessing Id using object: 101

In [5]:
print('Accessing Name without using object:', name)

NameError: name 'name' is not defined

In [6]:
show_data()

NameError: name 'show_data' is not defined

In [7]:
#Access specifier
class new:
    idd=1001  #Public variable
    __name='Rajat' #Private variable
    _course='ML' #protected variable
    
    def view(r):
        #r=n
        print('Id:', r.idd)
        print('Name:', r.__name)
        print('Course:', r._course)
        
n=new()

#n.idd=1001
#n.__name='Rajat'
#n._course='ML'

n.view()

Id: 1001
Name: Rajat
Course: ML

In [11]:
n.idd=1000
n.show()

Id: 1000
Name: Rajat
Course: ML

In [12]:
n.__name='Sachin'
n.show()

Id: 1000
Name: Rajat
Course: ML

In [9]:
print('Access IDD using Object:', n.idd)
print('Access name using Object:', n.__name)

Access IDD using Object: 1001

AttributeError: 'new' object has no attribute '__name'

In [10]:
print('Access Course using Object:', n._course)

Access Course using Object: ML

In [1]:
class student:
    idd=0
    name=0
    
    def input_data(d, x, y):
        d.idd=x       #s1.idd=101,   s2.idd=102
        d.name=y      #s1.name=Gaurav s2.name=Sachin
        
    def view_data(d):
        print('Id:', d.idd)
        print('Name:', d.name)
    
s1=student()
s1.input_data(101, 'Gaurav')   #d=s1, x=101, y='Gaurav'
s1.view_data()   #d=s1

Id: 101
Name: Gaurav

In [2]:
s2=student()
s2.input_data(102, 'Sachin') #d=s2, x=102, y='Sachin'
s2.view_data() #d=s2

Id: 102
Name: Sachin

In [4]:
s3=student()
s3.input_data(103, 'Jatin') 
s3.view_data() #d=s3

Id: 103
Name: Jatin

In [6]:
#Constructors: used to initialize the variables of the class

class data:
    idd=101
    name='Rajan'
    
    #declaring non parameterized constructor
    def __init__(d):
        print('Object is created')
        
    def show(d):
        print('Id:', d.idd)
        print('Name:', d.name)
    
d1=data()
d1.show()

Object is created
Id: 101
Name: Rajan

In [8]:
class data:
    idd=0
    name=0
    course=0
    
    #declaring parameterized constructor
    def __init__(self, a,b,c):
        print('Object is created')
        self.idd=a
        self.name=b
        self.course=c
        
    def show(d):
        print('Id:', d.idd)
        print('Name:', d.name)
        print('Course:', d.course)
    
d2=data(1001, 'Rahul', 'ML') #d=d2, a=1001, b='Rahul' c='ML'
d2.show()

Object is created
Id: 1001
Name: Rahul
Course: ML

In [9]:
d3=data(1002, 'Vineet', 'AI')
d3.show()

Object is created
Id: 1002
Name: Vineet
Course: AI

In [10]:
#Modifying object properties
#class object can only modify public variable of a class
print('Value of id with object d3 before modification:', d3.idd)
d3.idd=2000001
print('Value of id with object d3 after modification:', d3.idd)

Value of id with object d3 before modification: 1002
Value of id with object d3 after modification: 2000001

In [11]:
#Deleting value of a class variable associated with a object
del d3.idd

In [12]:
print('Value of id with object d3 before modification:', d3.idd)

Value of id with object d3 before modification: 0

In [13]:
#To delete object of a class
#del object_name

del d3

In [14]:
print('Value of id with object d3 before modification:', d3.idd)

NameError: name 'd3' is not defined

In [15]:
#Inheritance: one class can aquire the variables and methods of another class
#single inheritance

class addition:
    x=0
    y=0
    
    def __init__(d, a, b):
        d.x=a
        d.y=b
        
    def add(d):
        z=d.x+d.y
        return z

#To inherit class addition 
#here, addition is the base/parent class
#mulplication is the devired/child class
#class multiplication can only inherit public and protected members of the class addition


class multiplication(addition):
    
    i=0
    j=0
    
    def __init__(s, a,b,c,d):
        s.x=a
        s.y=b
        s.i=c
        s.j=d
    
    def multiply(s):
        r=s.i*s.j
        return r
    

m1=multiplication(10,20,15,30) #s=m1 a=10, b=20, c=15, d=30

a1=m1.add()
print('Addition:', a1)

b1=m1.multiply()
print('Multiplication:', b1 )

Addition: 30
Multiplication: 450

In [19]:
#Multiple Inheritance

class student_id:
    idd=0
    
    def show_id(s):
        print('Id of student:', s.idd)
        
class student_name:
    name=0
    
    def show_name(s):
        print('Name of the student:', s.name)
        
#student_marks inherits two classes: student_id, student_name
class student_marks(student_id, student_name):
    marks=0
    
    def __init__(s, i, n, m):
        s.idd=i
        s.name=n
        s.marks=m
        
    def show_marks(s):
        print('Student Marks:', s.marks)
        
sm1=student_marks(2002, 'Ravi', 85)
sm1.show_id()
sm1.show_name()
sm1.show_marks()

Id of student: 2002
Name of the student: Ravi
Student Marks: 85

In [20]:
#Multi-level inheritance

class student_id:
    idd=0
    
    def show_id(s):
        print('Id of student:', s.idd)
        
class student_name(student_id):
    name=0
    
    def show_name(s):
        print('Name of the student:', s.name)
        

class student_marks(student_name):
    marks=0
    
    def __init__(s, i, n, m):
        s.idd=i
        s.name=n
        s.marks=m
        
    def show_marks(s):
        print('Student Marks:', s.marks)
        
sm1=student_marks(2002, 'Ravi', 85)
sm1.show_id()
sm1.show_name()
sm1.show_marks()

Id of student: 2002
Name of the student: Ravi
Student Marks: 85

In [3]:
#Method overloading
#Means two or more methods having same name but different parameters
#Python doesn't support Method overloading 
#But, we may implement it with using default argument

class over:
    def hello(s, name=None):
        if name is not None:
            print('Welcome:', name)
        else:
            print('Welcome: Guest')
            
o1=over()
#calling hello() with name="Sanjay"
o1.hello('Sanjay')

#calling hello() without any parameter
o1.hello()

Welcome: Sanjay
Welcome: Guest

In [5]:
#method overloading

class overnew:
    
    i=0
    j=0
    k=0
    
    def show(s,a):
        s.i=a
        print('Value of I:', s.i)
        
    def show(s, x, y):
        s.j=x
        s.k=y
        
        print('Value of J:', s.j)
        print('Value of K:', s.k)
        
n1=overnew()
#n1.show(10)
n1.show(20,30)

Value of J: 20
Value of K: 30

In [7]:
#method overriding
#In inheritance, if two classes have two or more methods with same name and same parameters, it
#is known as overriding

class A:
    x=10
    
    def inc(s):
        s.x=s.x+100
        
        
    def show(s):
        print('X:',s.x)
        

class B(A):
    y=20
    
    def show(s):
        print('Value of x:', s.x)
        print('Value of y:', s.y)
        
        
b1=B()

b1.inc()

b1.show()

Value of X after modification: 110
Value of x: 110
Value of y: 20